body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: rgb(242, 245, 247);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  height: 100svh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 2rem;
  margin-inline: 5vw;

  border: 1px rgb(255, 255, 255, 0.6) solid;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.main-content {
}

.title-container {
  display: flex;
}

.title-container img {
  border-radius: 10px;
  width: 30%;
  aspect-ratio: 1/1;
}

.content-title-text {
  padding-left: 2rem;
  margin-top: auto;
  padding-bottom: 0;
}

.title {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.description {
  max-width: 100ch;
  font-size: 1.2rem;
}

.link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  border: 1px solid black;
}

.link-list li {
  display: flex;
  flex: 1;
  width: 100%;
}

.message-container {
  display: none;
  max-width: 100ch;
  background: none;
  border: none;
  padding-bottom: 10rem;
}

.button {
  display: flex;
  border-radius: 5px;

  background-image: linear-gradient(
    to right,
    #f857a6 0%,
    #ff5858 51%,
    #f857a6 100%
  );

  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 18px;
  width: 250px;
  cursor: pointer;
  margin: 10px;

  background-position: center;
  transition: all 0.5s ease;
}

.button-icon {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.button-text {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.08ch;
  margin-left: auto;
}

.button-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.button .button-content span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button .button-content span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  background-position: right center;
}

.button:hover .button-content span {
  padding-right: 25px;
}

.button:hover .button-content span:after {
  opacity: 1;
  right: 0;
}

a {
  text-decoration: none;
}

.custom-shape-divider-bottom-1684279040 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684279040 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1684279040 .shape-fill {
  fill: #ffffff;
}
